# GDExtension
/godot-cpp
*.os

# Rogo
.rogo
/Build
BuildLocal.rogue
/LinkedProjects.txt
Local.rogo
/SynchedProjects.rogo

# SCons
.sconsign.dblite

# Test Project
/TestPlasmacore

# Vim
*.swo
*.swp
*~

# Plasmacore
/Source/Generated
/Libraries/Plasmacore

# Mac
.DS_Store
